{% extends 'base.html.twig' %}

{% block title %}{{ course.name }}{% endblock %}
{% block meta_description %}Page du cursus {{course.name}} {% endblock %}

{% block body %}
<div class="cursus-div">
    <div class="cursus-title">
        <h1>{{ course.name }}</h1>
    </div>
    <div class="cursus-lesson-sheet">
        <ul class="lesson-list">
    {% for lesson in lessons %}
        <li class="lesson-item">
            <div class="lesson-card">
                <h2>{{ lesson.name }}</h2>

                <a href="{{ path('app_lesson_access', {id: lesson.id}) }}" class="btn-access">
                    Accéder à la leçon
                </a>
            </div>
        </li>
    {% else %}
        <p>Aucune leçon disponible pour ce cursus.</p>
    {% endfor %}
</ul>
    </div>
</div>
{% endblock %}
