{% extends 'base.html.twig' %}

{% block title %}Détails de la Formation{% endblock %}

{% block body %}
<div>
    <div class="div-formation-name">
        <h1>{{ formation.name }}</h1>
    </div>
    <div class="courses-grid">
        {% for course in courses %}
            <div class="courses-card">
                <div class="courses-details">
                    <h3>{{ course.name }}</h3>
                    <p class="price-courses-formation"><strong class="text-decoration-underline">Prix pour le cursus entier</strong> : <mark>{{ course.price }}</mark> €</p>
                    <h4>Leçons :</h4>
                    <ul>
                        {% for lesson in course.lessons %}
                            <li class="lesson-list">
                            <h4 class="lesson-name">{{ lesson.name }}</h4>
                            <p><strong class="text-decoration-underline">Prix pour la leçon individuelle</strong> : <mark>{{ lesson.price }}</mark> €</p>
                             {% if is_granted('ROLE_USER') %}
                                    <div class="lesson-buy-button">
                                        <a href="{{ path('app_buy_lesson_summary', { id: lesson.id }) }}" class="btn btn-secondary">
                                            Acheter {{ lesson.name }}
                                        </a>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    {% if is_granted('ROLE_USER') %}
                        <div class="course-buy-button">
                            <a href="{{ path('app_buy_course_summary', { id: course.id }) }}" class="btn btn-primary display-1">
                                Acheter le cursus
                            </a>
                        </div>
                    {% else %}
                        <p>Pour effectuer un achat, connectez-vous.</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
    </div>
</div>
{% endblock %}
