{% extends 'base.html.twig' %}

{% block title %}Page d'acceuil de knowledge learning{% endblock %}
{% block meta_description %}Site fictive e-learning servant de test et preuve de compétences.{% endblock %}

{% block body %}
<div class="home">

    {% for message in app.flashes('info') %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="Title-home">
        <h1>Knowledge Learning</h1>
    </div>

    <div class="explain-home">
        <p> Ce site est fictif. tout ce qui s'y trouve a été crée pour des fins de test et de démonstration. </p>
    </div>

    <div class="Title-formation-home">
        <h2> Formations Disponibles </h2>
    </div>

        <div class="formation-grid">
            {% for formation in formations %}
                <div class="formation-card">
                    <div class="formation-image">
                        <img src="{{ asset('uploads/themes/' ~ formation.image) }}" alt="{{ formation.name }}">
                    </div>
                    <div class="formation-details">
                        <h3>{{ formation.name }}</h3>
                        <div class="formation-action">
                                <a href="{{ path('app_formation_show', {id: formation.id}) }}" class="btn">Voir la formation</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>Aucun produit mis en avant pour l'instant.</p>
            {% endfor %}
        </div>
</div>
{% endblock %}

