{% extends 'base.html.twig' %}

{% block title %}Récapitulatif d'achat{% endblock %}

{% block body %}
<div>
    <div class="summury-lesson-buy">     
        <h1>Achat de la leçon : {{ lesson.name }}</h1>
        <p>Prix : {{ lesson.price }} €</p>
        <p>Description : {{ lesson.description }}</p>
        <div class="buy-button-summury">
            <a href="{{ path('app_stripe_checkout', { type: 'lesson', id: lesson.id }) }}" class="btn btn-success">Confirmer et payer</a>
        </div>
        <div>
            <a href="{{ path('app_formation') }}" class="btn btn-primary">Retour aux formations</a>
        <div>
    </div> 
</div> 
{% endblock %}
