{% extends 'base.html.twig' %}

{% block body %}
<h1>Ajouter un Cursus</h1>

{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.price) }}
    {{ form_row(form.theme) }}
{{ form_end(form) }}

{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

<a href="{{ path('app_admin_content') }}">Retour</a>
{% endblock %}
