{% extends 'base.html.twig' %}

{% block body %}
<h1>Modifier un Cursus</h1>

{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.price) }}
    {{ form_row(form.theme) }}
{{ form_end(form) }}


<a href="{{ path('app_admin_content') }}">Retour</a>
{% endblock %}
