{% extends 'base.html.twig' %}

{% block body %}
<h1>Modifier le Thème</h1>

{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.image) }}

{{ form_end(form) }}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}

<a href="{{ path('app_admin_content') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}

