{% extends 'base.html.twig' %}

{% block title %}Gérer les utilisateurs{% endblock %}

{% block body %}
    <h1>Gérer les utilisateurs</h1>
    <a href="{{ path('app_admin_add_user') }}" class="btn btn-success">Ajouter un utilisateur</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Rôle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles|join(', ') }}</td>
                    <td>
                        <a href="{{ path('app_admin_edit_user', {'id': user.id}) }}" class="btn btn-warning">Modifier</a>
                        <form method="post" action="{{ path('app_admin_delete_user', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
            <a href="{{ path('app_admin_dashboard') }}" class="btn btn-primary">Retour aux menu administrateur</a>
    <div>

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

{% endblock %}
